{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}


    <div class="row" >
    {% for categorie in categories %}
            <div class=" col-4 " >
                
                    <div class="card mb-3 mt-3 ">
                        <h4 class="card-title text-center">{{categorie.libelle}} </h4>
                        <img style="height: auto; max-width: 200px; display: block;" src="{{asset(categorie.image)}}" class=" mx-auto my-3" alt="...">
            
                        
                    
                            <div class="card-body ">
                                    <a href="{{path('categorie',{'id':categorie.id})}}" class="btn btn-primary text-center">Détail </a>
                        
                                </div>
                                
                    </div>
                    
                
            </div>
    {% endfor %}
    </div>






{% endblock %}
